In [1]:
import pandas as pd
import numpy as np

In [2]:
true_df = pd.read_csv("true_preds.csv")
user_df = pd.read_csv("user_preds.csv")

In [6]:
df = pd.merge(true_df, user_df, on = "ID's")

In [8]:
df

   ID's  Predictions_x TestCase  Predictions_y
0     0              1   public              1
1     1              1   public              1
2     2              1   public              1
3     3              1   public              0
4     4              1   public              1
5     5              1  private              1
6     6              1   public              0
7     7              1   public              0
8     8              1  private              0
9     9              1  private              0

In [9]:
public_df = df[df["TestCase"] == "public"]
private_df = df[df["TestCase"] == "private"]

In [14]:
public_df = public_df.drop("TestCase", axis = 1)
private_df = private_df.drop("TestCase", axis = 1)

In [19]:
public_df

   ID's  Predictions_x  Predictions_y
0     0              1              1
1     1              1              1
2     2              1              1
3     3              1              0
4     4              1              1
6     6              1              0
7     7              1              0

In [20]:
private_df

   ID's  Predictions_x  Predictions_y
5     5              1              1
8     8              1              0
9     9              1              0

In [31]:
public_df["YesNo"] = public_df["Predictions_x"] == public_df["Predictions_y"]

private_df["YesNo"] = private_df["Predictions_x"] == private_df["Predictions_y"]

In [36]:
public_counts = public_df["YesNo"].value_counts().tolist()
print("Public Value Count True and False", public_counts)

private_counts = private_df["YesNo"].value_counts().tolist()
print("private Value Count True and False", private_counts)

Public Value Count True and False [4, 3]
private Value Count True and False [2, 1]

In [37]:
public_len = len(public_df)
print("Length of public data", public_len)

private_len = len(private_df)
print("Lenght of private data",private_len)

Length of public data 7
Lenght of private data 3

In [29]:
public_classification_accuracy = (public_counts[0] / public_len) * 100
public_classification_accuracy

57.14285714285714

In [35]:
private_classfication_accuracy = (private_counts[0] / private_len) * 100
private_classfication_accuracy

66.66666666666666

In [5]:
import pandas as pd
import numpy as np

In [6]:
true_df = pd.read_csv("true_preds.csv")
user_df = pd.read_csv("user_preds.csv")

In [7]:
def Compare_CSV(true_df, user_df):
    
    # Merging true dataframe and user dataframe on the basis of ID into a single dataframe
    df = pd.merge(true_df, user_df, on = "ID's")
    
    # Seperating as 2 different dataframes private and public  
    public_df = df[df["TestCase"] == "public"]
    private_df = df[df["TestCase"] == "private"]
    
    # As the two dataframes are splitted on the basis of public and private we don't need the labels so droping them
    public_df = public_df.drop("TestCase", axis = 1)
    private_df = private_df.drop("TestCase", axis = 1)
    
    # Creating a new column which compares the values from true prediction and user prediction 
    # sets as True or False based on weather the value is matching or not
    # This is vecotrization and is faster than "isin" method 
    public_df["YesNo"] = (public_df["Predictions_x"] == public_df["Predictions_y"])
    private_df["YesNo"] = (private_df["Predictions_x"] == private_df["Predictions_y"])
    
    # getting the counts for public and private value counts 
    # gives a list of values [count of Ture, count of False]
    public_counts = public_df["YesNo"].value_counts().tolist()
    private_counts = private_df["YesNo"].value_counts().tolist()
    
    # calculating the public and private length of the dtaframe
    public_len = len(public_df)
    private_len = len(private_df)
    
    public_classification_accuracy = (public_counts[0] / public_len) * 100
    print("Public classification accuracy: ",public_classification_accuracy)
    
    private_classfication_accuracy = (private_counts[0] / private_len) * 100
    print("Private classification accuracy: ", private_classfication_accuracy)

In [8]:
Compare_CSV(true_df, user_df)

Public classification accuracy:  57.14285714285714
Private classification accuracy:  66.66666666666666

In [9]:
import glob
import os

In [13]:
true_df = pd.read_csv("true_preds.csv")

path = "D:/VIT/SEM6/CSE4020-ML/Jcomp/User_Data"
all_files = glob.glob(os.path.join(path, "/*.csv"))

li = []

for filename in all_files:
    user_df = pd.read_csv(filename)
    li.append(user_df)